@tailwind base; /* Base styles Like Materialize*/
@tailwind components; /* Component styles Like Bootstrap*/
@tailwind utilities;  /* Utility classes Like Bulma that reoverreading the styles of the components*/

/* Use @apply to inline any existing utility classes into your own custom CSS., in (Component) of tailwind */

@layer components{
    .container {
        @apply px-5 mx-auto
    }
    .ele-center {
        @apply flex justify-center items-center
    }
    .ele-center-col {
        @apply flex justify-center items-center flex-col
    }
    .main-btn {
        @apply bg-[#42b0d1] hover:bg-[#81d6e1] transition-all duration-300
    }
}

:root {
    --main-trans : 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif !important;
    /* background-color: #181f2b; */
}
input:focus,
textarea:focus  {
    outline: none;
}

/* --------- Start Styling -------------- */

/* styles.css (or your preferred CSS file) */

/* Style the tooltip content */

.setting .sett::after {
    position: absolute;
    content: 'Settings' !important;
    width: 70px;
    height: 27px;
    background-color: #999;
    color: #fff;
    font-weight: 700;
    top: -36px;
    left: -7px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 3px;
    display: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.setting .sett::before {
    position: absolute;
    content: '' !important;
    border-style: solid;
    border-width: 10px;
    border-color: #999 transparent transparent transparent;
    top: -9px;
    left: -7px;
    transform: translateX(-50%);
    display: none;
}

.e-tooltip-wrap.e-popup {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 7px;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.e-tooltip-wrap.e-popup::before {
    position: absolute;
    content: '' !important;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #555 transparent;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
}